.container-blog .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    margin: 1rem;
}

.container-blog .card img {
    width: 20%;
    height: auto;
}

/* On mouse-over, add a deeper shadow */
.container-blog .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

/* Add some padding inside the card container */
.container-blog .container {
    padding: 1rem;
    text-align: justify;
    line-height: 1.5rem;
    overflow: auto;
    height: 15rem;
}

.container-blog a {
    text-decoration: none;
    color: black;
}

.container-titulo-autor {
    margin: 1rem;
}

.container-imagem-texto {
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo {
    text-align: center;
}

.autor-data {
    display: flex;
    justify-content: space-around;
}

.imagem-conteudo {
    width: 50%;
}

.imagem-conteudo img {
    width: 100%;
    height: auto;
}

.texto-conteudo {
    text-align: justify;
    text-indent: 2rem;
    line-height: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .imagem-conteudo {
        width: 100%;
    }

    .container-blog .card {
        flex-direction: column;
    }

    .container-blog .card img {
        width: 100%;
    }
}