/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: var(--terciaria);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: var(--quartenaria);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 1rem;
  background-color: var(--primaria);
  display: none;
  overflow: hidden;
}