.container-bottom{
    margin-bottom: 12rem;
}

.container-eventos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.evento-link {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.evento-link a {
    text-decoration: none;
    color: black;
}

.evento-link img {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.evento-titulo-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .evento-link {
        width: 100%;
    }

    .container-bottom{
        margin-bottom: 0;
    }
}