:root {
    --primaria: #F5F5DC;
    --secundaria: #45453E;
    --terciaria: #F7F794;
    --quartenaria: #757546;
    --quinta: #C2C2AE
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--primaria);
    display: flex;
    flex-direction: column;
}

main {
    margin: 1rem;
}

button {
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
}

.container-head {
    display: flex;
    background-image: url(../img/azulejo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.container-logo {
    padding: 1rem;
    width: 10%;
}

.container-logo img {
    border-radius: 50%;
}

.container-menu {
    margin: 1rem;
}

.container-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
}

.container-menu a {
    padding: 1rem;
    text-decoration: none;
    color: black;
}

.container-menu li {
    margin: 1rem;
}

.menu-ativo {
    background-color: darkkhaki;
}

footer {
    min-height: 10rem;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .container-logo {
        width: 30%;
    }

    .container-menu ul {
        justify-content: center;
    }

}